<h1>Calendar</h1>

<div>
    <form (ngSubmit)="onSubmit()" #urlForm="ngForm">
        <div class="form-group">
            <label for="url">Url to calendar ics file</label>
            <input type="url" class="form-control" id="url" name="url" required [(ngModel)]="calendar.url" #url="ngModel" 
                   pattern="https?://.+\.(ics|ical|ifb|icalendar)$"/>
        </div>
        <div [hidden]="url.valid || url.pristine" class="alert alert-danger">
            Valid url pointing to a .ics or .ical file is required!
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!urlForm.form.valid">Submit</button>
    </form>
</div>


<div *ngIf="errorMessage" class="alert alert-danger">
    <p>Not able to show calendar: {{ errorMessage }}</p>
</div>
<div *ngIf="isLoading" class="text-info">
    <em>Loading...</em>
</div>

<table class='table' *ngIf="calendar.calendarEvents">
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Location</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let calendarEvent of calendar.calendarEvents">
            <td>{{ calendarEvent.start }}</td>
            <td>{{ calendarEvent.end }}</td>
            <td>{{ calendarEvent.location }}</td>
            <td>{{ calendarEvent.summary }}</td>
        </tr>
    </tbody>
</table>